[Unit]
Description=Simple DDNS powered by DNSPod

[Service]
Type=simple
User=...
WorkingDirectory=...
Environment=SEC_ID=...
Environment=SEC_KEY=...
Environment=DOMAIN_NAME=...
RuntimeMaxSec=15
ExecStart=python3 app.py <DC_NAME>
