[Unit]
Description=Simple DDNS powered by Cloudflare

[Service]
Type=simple
User=...
WorkingDirectory=...
Environment=CF_API_TOKEN=...
Environment=DOMAIN_NAME=...
RuntimeMaxSec=15
ExecStart=python3 app.py <DC_NAME>
